.filterText {
  color: #313131;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
}


.titleText {
  color: var(--backgrounds-on-base, #222223);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}

.table-header-text {
  color: #202020;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  text-align: center;
}

.table-scroll-bar::-webkit-scrollbar {
  height: 3px;
}

.table-scroll-bar::-webkit-scrollbar-track {
  background-color: rgba(212, 212, 212, 1);
}

.table-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(42, 66, 148, 1);
  border-radius: 5px;
}

.sticky-table-cell{
    border: 1px solid rgba(212, 212, 212, 1);
  min-width: 160px;
  position: sticky;
  left: 0;
  z-index: 900;
  background-color: white;
}
.grey-table{
    background-color: rgb(239 239 239);
    border: 1px solid rgba(212, 212, 212, 1);
}

.white-table{
    border: 1px solid rgba(212, 212, 212, 1);
}

.comptetior-card-id{
  height: 40px;
  width: 40px;
  background-color: rgba(251, 251, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comptetior-card-text{
  overflow: hidden;
  color: rgba(32, 32, 32, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  margin-top: 1rem;
}
