.filterText {
  color: #313131;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
}
.titleText {
  color: var(--backgrounds-on-base, #222223);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}
.container-header {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 1px 1px -2px 0;
}

.main-container {
  width: 100%;
  margin-bottom: 2rem;
  height: auto;
}

