.filterText{
    color: #313131;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
};

.custom-drawer {
    transition: width 1s;
    flex-shrink: 0;
    margin-bottom: 1rem;
  }
  
.custom-drawer .MuiDrawer-paper {
    /* min-width: 10rem; */
    max-width: 18rem;
    box-sizing: border-box;
    height: 73%;
    margin-top: 6.5rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 2rem; 
}

.titleText{
    color: var(--backgrounds-on-base, #222223);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.00625rem;
}
.container-header{
    height : 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 1px 1px -2px 0;
}

.main-container {
    width: 100%;
    margin-bottom: 2rem;
    height: auto;
}

