/* General styles */
.closeIcon {
  margin: 2rem;
  color: black !important;
  font-weight: 600;
}

/* Navigation items */
.home-text,
.home-text-active {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}

.listItems,
.listItems-active {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  font-style: normal;
  color: rgba(80, 81, 82, 1);
}

.listItems-active {
  color: rgba(34, 34, 35, 1);
}

.listItems:hover {
  color: rgba(43, 82, 221, 1);
}

/* Expanded accordion styles */
.expandedAccordion,
.expandedAccordionNormal {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.expandedAccordion {
  background-color: rgba(43, 82, 221, 1);
  color: var(--button-primary-on-primary, #dae0f9);
  border-radius: 0.5rem;
}

.expandedAccordionNormal {
  color: var(--color-set-type-black-primary, #202020);
}

.expandedAccordion:hover,
.expandedAccordionNormal:hover {
  background-color: rgb(39, 70, 184);
  border-radius: 0.5rem;
  color: var(--button-primary-on-primary, #dae0f9);
}

/* List icons styles */
.listIconsExpended,
.listIconNormal {
  font-size: 0.75rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.listIconsExpended {
  color: var(--button-primary-on-primary, #dae0f9);
}

.listIconNormal {
  color: black;
}

.listIconsExpended,
.listIconNormal:hover {
  color: var(--button-primary-on-primary, #dae0f9);
}
